@import './var.scss';
@import './text.scss';
@import './font.scss';
@import './transitions.scss';

::selection {
  color: #FFFFFF;
  background: $main;
}

::-moz-selection { /* Code for Firefox */
  color: #FFFFFF;
  background: $main;
}

// Layout
body{
  margin: 0;
}

a{
  text-decoration: none;
}

ul{
  padding:0;
}

li{
  list-style: none;
}

.form-layout{
  min-width: 500px;
  max-width: 1000px;
  & > * {
    margin-bottom: 50px;
    &:last-child{
      margin-bottom : 0px
    }
  }
}

.capitalize{
  text-transform: capitalize;
}

.layout{
  display: grid;
  grid-template-columns: 15% auto 15%;
  & > #main {
    margin-top: $top-spacing;
  }
}

// Button

button{
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}
