@import './var.scss';
@import './text.scss';
@import './font.scss';
@import './transitions.scss';

::selection {
  color: #FFFFFF;
  background: $purple;
}

::-moz-selection { /* Code for Firefox */
  color: #FFFFFF;
  background: $purple;
}

// Layout
body{
  margin: 0;
}

a{
  text-decoration: none;
}

ul{
  padding:0;
}

li{
  list-style: none;
}

.form-layout{
  min-width: 500px;
  & > * {
    margin-bottom: 50px;
    &:last-child{
      margin-bottom : 0px
    }
  }
}

.capitalize{
  text-transform: capitalize;
}

.layout{
  margin: 0 5%;
  display: grid;
  grid-template-columns: 10rem auto;
  & > *:nth-child(1) {
    margin-top: 135px;
    margin-bottom: 100px;
  }
}

.container{
  max-width: 80rem;
  margin: 0 auto;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-x{
  display: flex;
  justify-content: center;
}

.center-y{
  display: flex;
  align-items: center;
}

// Button

button{
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}
