@import './var.scss';
@import './text.scss';
@import './transitions.scss';

// Layout

.container{
  max-width: 80rem;
}

.center{
  margin: 0 auto;
  & > * {
    width: fit-content;
  }
}

// Button

button{
  border: none;
  background: none;
  cursor: pointer;
}
