// COLORS

$black: #000;
$gray-light: #F7F8F9;
$gray: #B0B0B0;
$gray-dark: #111111;
$main: #4F01CF;

// FONTS

// GLOBAL SIZE

$top-spacing : 130px;
$card-size :236px;

$mobile-xs-width: 568px;
$mobile-width: 768px;
$desktop-width: 1024px;
$desktop-xl-width: 1280px;


// BREAKPOINTS
@mixin mobile-xs {
  @media (min-width: $mobile-xs-width) { @content; }
}
@mixin mobile {
  @media (min-width: $mobile-width) { @content; }
}
@mixin desktop {
  @media (min-width: $desktop-width) { @content; }
}
@mixin desktop-xl {
  @media (min-width: $desktop-xl-width) { @content; }
}
